# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm / JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Old / backup files
*__.py*
*__.md*

# Data
data/raw/ballengewichte_raw_studenten.csv
data/raw/ballengewichte_studenten.csv
data/raw/ballengewichte_studenten_2025.csv
data/raw/ballengewichte_studenten_all.csv
data/raw/eingangsbandwaage_raw_studenten.csv
data/raw/eingangsbandwaage_studenten.csv
data/raw/eingangsbandwaage_studenten_2025.csv
data/raw/eingangsbandwaage_studenten_all.csv
data/processed/clean_dataset.csv
data/processed/prepared_forecasting.csv
data/processed/prepared_training.csv

# training results
*forecasts.csv*

# forecasting
forecasts/

# Folders
outputs/forecasts/

/notebooks/EDA_Check_Data__.ipynb
/notebooks/Material4_Analysis__.ipynb
/notebooks/Material4_Analysis_Interpolation__.ipynb
/notebooks/Material4_Difference__.ipynb
/data/raw/eingangsbandwaage_rueckhalt.csv
/data/raw/ballengewichte_rueckhalt.csv
